/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Header styles ~~~~~~~~~~~~~~~~~~~~~~~~~~*/

header nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

header nav {
  display: flex;
  align-items: center;       
  justify-content: space-between;
  background-color: #535e3f; 
  padding: 0.3% 8%;
}

header nav h1, 
header nav a {
  color: white;
  text-align: center;
  background: none;
  text-shadow: 2px 2px 5px #232b14;         
}

header nav h1 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-family: DM_Serif_Text ;
}

header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-decoration: none;
  padding: 0.5em 1em;
  transition: background 0.3s ease;
  border-radius: 5px;
}

header nav a:hover {
  background-color: #232b14;
  border-radius: 5px;  
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Font styles ~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Body styles ~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
  background-image: url(assets/pics/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  margin: 0;              
  height: 100vh;         
  background-color: #f0f0f0; 
}

body, header {
  margin: 0;
  padding: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Specific styles ~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.centered {
  font-size: clamp(2rem, 3vw, 5rem);
  line-height: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 0px 3px 10px #232b14;
}

.prevent-select {
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}